{% extends 'base.html' %}

{% block page_title %}Page not found &mdash;{% endblock %}

{% block body_class %}error404{% endblock %}

{% block main %}

    <h1>Content not found</h1>

    <p class="meta">404</p>

    <article>
        <p>404 errors come in many shapes and sizes, and one of the following might fix this:</p>

        <ul>
            <li>Make sure you typed the URL address correctly</li>
            <li>Verify that the page you came from has their links setup correctly</li>
            <li>Let me know if something really should be here and I&rsquo;ve misplaced it by accident</li>
            <li>Find what you&rsquo;re looking for by using the site&rsquo;s navigation or by browsing the <a href="/blog">archive</a></li>
        </ul>

        <p>There are no search functionalities on this site. If you can&rsquo;t find it in the navigation or inside the archive (or Google doesn&rsquo;t show it), then it does not exist.(</p>
    </article>

{% endblock %}