
<div class="me-elsewhere">
    <h2>Me elsewhere</h2>

    <ul>
        <li>Twitter: <a target="_blank" rel="noopener noreferrer" href="http://www.twitter.com/ojrask">@ojrask</a></li>
        <li>GitHub: <a target="_blank" rel="noopener noreferrer" href="https://github.com/rask">rask</a></li>
        <li>Soundcloud: <a target="_blank" rel="noopener noreferrer" href="http://www.soundcloud.com/ojrask">Rask</a></li>
        <li>Bandcamp: <a target="_blank" rel="noopener noreferrer" href="http://rask.bandcamp.com">Rask</a></li>
        <li>Patreon: <a target="_blank" rel="noopener noreferrer" href="http://www.patreon.com/ojrask">Rask</a></li>
        <li>LinkedIn: <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ojrask">ojrask</a></li>
    </ul>
</div>